.wrapper {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-color: transparent;
    border: 0;
    color: white;
}

.wrapper .volume {
    transform: rotate(-90deg);
    position: absolute;
    bottom: 62px;
    padding: 12px;
    width: 120px;
    /* @import range-input($white, $black-54, $black, $green); */
    @import range-input($white, $black-54, $black, $green-54, true);
}

.wrapper .volume input {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 50px;
}